{% extends '_auth_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}

<h1 class="text-xl font-bold leading-tight tracking-tight  md:text-2xl ">
  Change Password
</h1>
<form method="post" action="{% url 'account_change_password' %}">
  {% csrf_token %}
  {{ form|crispy }}
<div class="text-right mt-2">

  <button type="submit"
  class="  hover:  font-bold py-2 px-4 border  rounded-r-lg md:rounded-sm ">Change Password
</button>
</div>
</form>

<div class="text-center"><a href="{% url 'settings' %}" class="underline ">Back to Settings</a></div>
{% endblock content %}
