{% extends '_auth_base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% load daisyui_filters %}

{% block title %}Sign up{% endblock %}

{% block content %}




<h1 class="text-xl font-bold leading-tight tracking-tight  md:text-2xl ">
  Create your account
</h1>
<form class="space-y-4 md:space-y-6" method="post">

  {% csrf_token %}
  {{ form|crispy }}

  <div class="text-sm"> By signing up, you are agreeing to our <a href='{% url "terms_and_conditions" %}' target="_blank" class=" hover:underline text-secondary">Terms of Service</a> and <a href='{% url "privacy_policy" %}' target="_blank"  class=" hover:underline text-secondary">Privacy Policy</a>.
  </div>

  <button type="submit"
    class="btn btn-primary w-full ">Sign up</button>
  <p class="text-sm font-light  ">
    Already have an account? <a href="{% url 'account_login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
      class=" hover:underline text-secondary">Sign in</a>.
  </p>
</form>

{% if social_login_enabled %}
  {% include 'partials/auth/social_buttons.html'  %}
{% endif %}




{% endblock content %}