{% extends '_base.html' %}

{% block title %}Example List{% endblock %}

{% block content %}

<section class="w-full px-6 max-w-4xl mx-auto">

    {% if is_owner %}
    <div class="flex justify-end space-x-2 pb-2">
        <a href="{% url 'example_edit' uuid=item.uuid %}" class="btn btn-accent btn-sm btn-outline">Edit</a>
    </div>
    {% endif %}

    {% if item.image %}
        <img src="{{item.image.url}}" class="object-cover w-full h-full" />
    {% endif %}

    <h1 class="text-3xl font-bold py-2">{{item.title}}</h1>

    <p class="text-sm text-base-content/60">Created on {{ item.created_at|date:"F j, Y" }}</p>

    <p class="text-sm text-base-content/80 line-clamp-3">{{ item.owner.username }}</p>
    <div class="divider"></div>

    <a href="{% url 'example_list' %}" class="btn btn-primary">Back</a>

</section>


{% endblock content %}