{% load static %}

<header>

<div class="navbar bg-base-200 shadow-lg border-b border-neutral fixed z-100">
  <div class="flex-1">
    <a href="/" class="flex items-center space-x-1 ml-2">
      <img src="{% static 'logo.svg' %}" class="h-8 relative" style="top:4px" />
    </a>
  </div>

  <div class="flex-none">
    
    <ul class="menu menu-horizontal px-1">

      {% if authenticated_user %}
      <li>
        <details>
          <summary>Account</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a href="{% url 'profile' username=authenticated_user.username %}">My&nbsp;Profile</a></li>
            <li><a href="{% url 'settings' %}">Settings</a></li>
            <li><a href="{% url 'account_logout' %}">Sign out</a></li>
          </ul>
        </details>
      </li>
      {% else %}
      <li><a href="{% url 'account_login' %}{% if url_path %}?next={{ url_path }}{% endif %}">Login</a></li>
      <li><a href="{% url 'account_signup' %}{% if url_path %}?next={{ url_path }}{% endif %}">Sign up</a></li>

      {% endif %}
    </ul>
  </div>
</div>

</header>
<div style="height: 62px"></div>
