{% load static %}

<header>

<div class="navbar bg-base-200 shadow-lg fixed z-100">
  <div class="flex-1">
    <a href="/" class="flex items-center space-x-1 ml-2">
        <img id="logo-light" src="{% static 'djovian-logo-black.png' %}" alt="Logo Light" class="h-8 hidden">
        <img id="logo-dark" src="{% static 'djovian-logo-white.png' %}" alt="Logo Dark" class="h-8 hidden">
    </a>
  </div>

  <div class="flex-none">
    
    <ul class="menu menu-horizontal px-1">


      {% if authenticated_user %}
      <li>
        <details>
          <summary>Account</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a href="{% url 'profile' username=authenticated_user.username %}">My&nbsp;Profile</a></li>
            <li><a href="{% url 'settings' %}">Settings</a></li>
            <li><a href="{% url 'account_logout' %}">Sign out</a></li>
          </ul>
        </details>
      </li>
      {% else %}
      <li><a href="{% url 'account_login' %}{% if url_path %}?next={{ url_path }}{% endif %}">Login</a></li>
      <li><a href="{% url 'account_signup' %}{% if url_path %}?next={{ url_path }}{% endif %}">Sign up</a></li>

      {% endif %}

      <li>{% include 'partials/system/theme_selector.html' %}</li>

    </ul>
  </div>
</div>

</header>
<div style="height: 62px"></div>
