base58==2.1.1
boto3==1.35.17
asgiref==3.7.2
celery==5.4.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.0.1
crispy-tailwind==1.0.3
crispy-daisyui==0.7.0
cryptography==42.0.4
defusedxml==0.7.1
Django==5.0.3
django-ace==1.32.4
django-allauth==0.61.1
django-admin-autocomplete-filter==0.7.1
django-admin-interface==0.28.6
django-apptemplates==1.5
django-browser-reload==1.13.0
django-clearcache==1.2.1
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-debug-toolbar==4.2.0
django-environ==0.11.2
django-filter==24.2
django-htmx==1.18.0
django-tailwind==4.0.1
django-storages==1.12.3
dj-database-url==2.2.0
django-compressor==4.5.1
django-image-cropping==1.7
django_redis==5.4.0
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
drf-spectacular==0.28.0
ecdsa==0.19.1
easy-thumbnails==2.9
environ==1.0
gunicorn==22.0.0
idna==3.7
markdown==3.7
oauthlib==3.2.2
packaging==23.1
psycopg==3.1.18
psycopg-binary==3.1.18
pycparser==2.21
pycryptodome==3.22.0
PyJWT==2.6.0
python3-openid==3.2.0
orjson==3.10.6
redis==5.0.4
requests==2.31.0
requests-oauthlib==1.3.1
sqlparse==0.4.4
sentry-sdk==2.28.0
stripe==11.6.0
typing_extensions==4.9.0
urllib3==2.0.7
wagtail==7.0
whitenoise==6.6.0