<div id="div_id_login" class="mb-3"> <label for="id_login" class="block text-sm font-bold mb-1">
            Email<span class="asteriskField">*</span> </label> <input type="email" name="login" placeholder="Email address" autocomplete="email" maxlength="320" class="emailinput input-bordered input focus:outline-none w-full focus:ring" required="" id="id_login"> </div>

            
<div id="div_id_password" class="mb-3"> <label for="id_password" class="block text-sm font-bold mb-1">
            Password<span class="asteriskField">*</span> </label> <input type="password" name="password" placeholder="Password" autocomplete="current-password" class="passwordinput input-bordered input focus:outline-none w-full focus:ring" required="" aria-describedby="id_password_helptext" id="id_password"> <small id="hint_id_password" class="text-gray-600"><a href="/auth/password/reset/">Forgot your password?</a></small> </div>

<div id="div_id_image" class="mb-3"> <label for="id_image" class="block text-sm font-bold mb-1">
            Image
        </label>
    

    
    

        
        Currently: <a href="https://copycat-develop.s3.amazonaws.com/example/image-8.jpg">example/image-8.jpg</a>
<input type="checkbox" name="image-clear" id="image-clear_id">
<label for="image-clear_id">Clear</label><br>
Change:
<input type="file" name="image" accept="image/*" class="clearablefileinput focus:ring focus:outline-none file-input file-input-bordered w-full" id="id_image"> </div>