{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% if is_me %}My Profile {% else %}{{user.username}}'s Profile{% endif %}{% endblock %}

{% block content %}
<div class="max-w-5xl mx-auto p-4 space-y-8 pt-12">
  <div class="md:flex md:items-center md:gap-6 text-center md:text-left">
    
    {% if user.avatar %}
      <div class="mb-4 md:mb-0">
        <img class="w-48 h-48 rounded-full border-4 border-primary shadow-xl mx-auto md:mx-0"
             src="{{ user.avatar.url }}" alt="User Avatar">
      </div>
    {% endif %}

    <div class="flex-1">
      <h2 class="text-3xl">{{ user.username }}</h2>

      {% if user.bio %}
        <p class="mt-2 text-content">
          {{ user.bio }}
        </p>
      {% endif %}

      <div class="mt-2">

        <span class="revealable-text" data-text-to-reveal="{{ user.keypair.address }}" data-url="{{ explorer_base_url }}/search?q={{ user.keypair.address }}">Wallet Address</span>
       
      </div>
    </div>
  </div>
</div>


{% endblock %}