{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load daisyui_filters %}

{% block title %}Settings{% endblock %}

{% block content %}

<div class="max-w-5xl mx-auto ">
  <div class=" p-4">
    
  <h1 class="text-xl font-bold leading-tight tracking-tight  md:text-3xl">Settings</h1>
  <div class="py-2"></div>
  <h2 class="text-lg font-medium leading-tight tracking-tight  md:text-xl">My Account</h2>

<div class="bg-base-100 p-2 rounded-lg shadow-lg mt-4">

    <table class="min-w-full table-auto ">
      <tbody>
          <!-- Email row -->
          <tr class="border-b border-base-300">
            <td class="px-4 py-4  font-medium">Email</td>
            <td class="px-4 py-4 ">{{user.email}}</td>
            <td class="px-4 py-4 text-right">
              {% comment %} <a href="{% url 'account_email' %}" class=" hover:underline">Change Email</a> {% endcomment %}
            </td>
          </tr>
        <!-- Username row -->
        <tr class="border-b  border-base-300">
          <td class="px-4 py-4  font-medium">Username</td>
          <td class="px-4 py-4 ">{{user.username}}</td>
          <td class="px-4 py-4 text-right">
            {% comment %} <a href="{% url 'account_username' %}" class=" hover:underline">Change Username</a> {% endcomment %}
          </td>
        </tr>
      
        <!-- Password row -->
        <tr class="">
          <td class="px-4 py-4  font-medium">Password</td>
          <td class="px-4 py-4 ">*********</td>
          <td class="px-4 py-4 text-right">
            <a href="{% url 'account_change_password' %}" class="btn btn-outline btn-accent btn-sm">Change Password</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="divider"></div>

  <h2 class="text-lg font-medium leading-tight tracking-tight  md:text-xl">My Profile</h2>

  <div class="bg-base-200 p-4 rounded-lg shadow-lg mt-4">

    
    <form class="space-y-4 md:space-y-6" method="post">
      {% csrf_token %}
      {% include "partials/common/image_cropper_widget.html" with id="profile-image-upload" field_name="avatar_key" label="Avatar" initial=user.avatar_url upload_to="avatars" %}

      {{ form|crispy }}

      <button type="submit" id="submit" class="btn btn-primary w-full ">Save Profile Changes</button>
  </form>
</div>



  </div>




</div>

{% endblock %}


