@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* 
@plugin "daisyui" {
    themes: business --default, business --prefersdark, cupcake, dracula;
} */

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    prefersdark: true;
    color-scheme: "dark";
    --color-primary: oklch(0.569 0.1044 246.74);

}

@plugin "daisyui/theme" {
    name: "light";
    prefersdark: false;
    color-scheme: "light";
    --color-primary: oklch(0.569 0.1044 246.74);

}


@config './../tailwind.config.js';


#hint_id_password {
    @apply text-accent hover:underline;
}