{% extends '_auth_base.html' %}
{% load static %}

{% block title %}404 Page not found{% endblock %}

{% block content %}

    <h1 class="text-xl font-bold leading-tight tracking-tight  md:text-4xl text-center">Page not found</h1>
    
    <p class="text-center text-lg md:text-xl">We couldn't find what you were looking for.</p>
    
    <div class="text-center">

        <a href="{% url 'home' %}" class="btn btn-primary btn-outline">Return Home</a>
    </div>

{% endblock content %}

{%block footer %}{%endblock%}